<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        API Basejump: URL Shortener Microservice
      </h1>
    </header>

    <main>
      <h2 class="bold">User stories:</h2>
      <ol>
        <li>I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</li>
        <li>When I visit that shortened URL, it will redirect me to my original link.</li>
      </ol>
      <h2 class="bold">Example creation usage:</h2>
      <p>
        https://url-shortener-microservice-martuking.glitch.me//www.google.com
      </p>
      <p>
        https://url-shortener-microservice-martuking.glitch.me//foo.com:80
      </p>
      <h2 class="bold">Example creation output:</h2>
      <p>
        { "original_url":"http://foo.com:80", "short_url":"https://url-shortener-microservice-martuking.glitch.me/8170" }
      </p>
      <h2 class="bold">Usage:</h2>
      <p>
        https://url-shortener-microservice-martuking.glitch.me/2871
      </p>
      <h2 class="bold">Will redirect to:</h2>
      <p>
        https://www.google.com/
      </p>
    </main>

    <script src="/client.js"></script>

  </body>
</html>
